<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-phonenumber" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PhoneNumber</name>
    <description>Cordova Plugin to get phone number on Android</description>
    <license>MIT</license>
    <keywords>cordova, phone number</keywords>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/PhoneNumber.java" target-dir="src/com/example/phonenumber" />
    </platform>
    <js-module src="www/phonenumber.js" name="PhoneNumber">
        target="cordova.plugins.phonenumber" />
    </js-module>
</plugin>
