<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-phonenumber"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        version="1.0.1">
    <name>PhoneNumber</name>
    <description>Cordova Plugin to get phone number on Android</description>
    <license>Apache 2.0</license>
    <keywords>cordova,phonenumber</keywords>
    <js-module src="www/PhoneNumber.js" name="PhoneNumber">
        <clobbers target="cordova.plugins.phonenumber" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneNumber">
                <param name="android-package" value="com.example.phonenumber" />
            </feature>
        </config-file>
        <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/PhoneNumber.java" target-dir="src/com/example/phonenumber" />
    </platform>
</plugin>
